* {
  margin: 0;
  padding: 0;
}

header, footer {
  background-color: #081336;
  padding: 20px;
  text-align: center;
  color: #2aabd2;
}

.post {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 600px;
  display: inline-block;
}

.post .post-image{
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.post .post-title {
  font-family: Arial, sans-serif;
  font-size: 24px;
  margin: 0;
  color: #241d1d;
  text-transform: capitalize;
}

.post .post-text{
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #241d1d;
  text-align: justify;
}

.news {
  background-color: #f9f9f9;
  padding: 20px;
  list-style: none;
}